# Upstash Redis
REDIS_URL=rediss://default:your_token@your_host.upstash.io:6379

# InfluxDB Cloud
INFLUXDB_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUXDB_TOKEN=your_token_here
INFLUXDB_ORG=mess-monitor
INFLUXDB_BUCKET=camera_metrics

# Server Config
PORT=8000
ENVIRONMENT=development